<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{ page.title }} - @rfriends</title>
    <style>
      table {
        border:#ccc 1px solid;
        border-radius:3px;
      }
      table th {
        padding:11px 15px 12px 15px;
        border-top:1px solid #fafafa;
        border-bottom:1px solid #e0e0e0;
      }
      table tr {
        padding-left:10px;
      }
      table td {
        padding:8px;
        border-top: 1px solid #ffffff;
        border-bottom:1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;
      }
    </style>
  </head>

  <body>
    {{ content }}
  </body>
</html>
